/* default css start  */
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Poppins:ital,wght@0,300;0,400;1,500;1,600;1,700;1,800&family=Tangerine:wght@700&display=swap');

html{
    scroll-behavior: smooth;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body{
    font-size: 16px;
    overflow-x: hidden;
    font-weight: normal ;
}
/* default css end  */
/* header css start  */
ul, li{
    list-style: none;
    display: inline-block;
} 
.container{
    margin: 0 auto;
    padding-left: 15px; 
    padding-right: 15px;
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}

.f-left{
    float: left;
}
.f-right{
    float: right;
}
a, a:hover{
    text-decoration: none;
}
#top-nav{
    position: fixed;
    width: 100%;
    height: 80px;
    line-height: 80px; 
    border-bottom: 1px solid rgb(255 255 255 / 30%);
    transition: 0.5s;
    z-index: 99;
    background-color: #fff;
}
#top-nav .logo-wrapper{
    font-size: 44px;
    font-weight: bolder;
    color: #fff;
}
#top-nav .logo-wrapper .logo{
    color: #e74747;
    font-family: 'Tangerine', cursive;
    
}
.navbar-wrapper li .link-item{
    color: #1f1f1f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}
.navbar-wrapper li.active a{
    color: #e65f78;
}
/* header css end  */
/* hero css start  */
#hero-area{
    position: relative;
}
#hero-area .hero-cover{
    background-image: url(images/WhatsApp\ Image\ 2022-07-11\ at\ 5.41.41\ AM\ \(1\).jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
}
#hero-area .hero-cover .hero-content-box {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-40%);
    color: #fff;
}
#hero-area .hero-cover .hero-content-box .hello{
    font-size: 18px;
    font-weight: 400;
}
#hero-area .hero-cover .hero-content-box .post{
    margin: 20px 0;
    font-size: 35px;
}
#hero-area .hero-cover .hero-content-box .hero-desc{
    color: #fff;
    margin-bottom: 60px;
    font-size: 16px;
}
#hero-area .hero-cover .hero-content-box .hero-btns .btn{
    margin-right: 20px;
    position: relative;
    z-index: 1;
}
.btn{
    text-transform: uppercase;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.btn:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    transform: scaleX(0);
    z-index: -1;
}
.btn-white{
    background-color: #fff;
    color: #1f1f1f;
}
.btn-white:hover{
    color: #fff;
}
.btn-white:hover:before{
    background-color: #e65f78;
}
.btn-white:hover:before,
.btn-red:hover:before{
    transform: scaleX(1);
}
.btn-red{
    background-color: #e65f78;
}
.btn-red:hover{
    color: #e65f78;
    border: 1px solid #e65f78;
}
.btn-red:hover:before{
    background-color: #fff;
}
.clear-fix{
    content: '';
    display: table;
    clear: both;
}
.btn-mouse-wrapper{
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    z-index: 1;
}
.btn-mouse-wrapper .btn-mouse{
    border: 2px solid #c6c5c7;
    padding: 20px 15px;
    border-radius: 50px;
}
.btn-mouse-wrapper .btn-mouse .btn-wheel{
    width: 3px;
    height: 10px;
    padding: 0;
    background-color: #c6c5c7;
    transform: translateY(-10px);
    animation: updown 2s ease .1s infinite;
}
@keyframes updown{
    0%{
        transform: translateY(-10px);
    }
    30%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(0px);
    }
    80%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(20px);
        opacity: 0.1;
    }
}
/* hero css end  */
/* about section area start  */
.section{
    padding: 100px 0; 
}
.section-title{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}
#about .about-pic{
    width: 32.5%;
    padding: 5px;
    border: 1px solid #c6c5c7;
}
#about .about-pic img{
    display: block;
    max-width: 100%;
}
#about .about-content{
    width: 60%;
    margin-top: 20px;
    letter-spacing: 1px;
}
#about .about-content h4 span{
    color: #e65f78;
}
#about .about-content .section-subtitle{
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 0 0;
}
#about .about-content .about-desc{
    margin: 30px 0;
}
#about .about-content .about-desc .desc-top{
    margin-bottom: 20px;
}
#about .about-content .about-btns{
    margin: 40px 0 20px 0;
}
#about .about-content .about-btns .btn-white{
    border: 1px solid #e65f78;
}
#about .about-content .about-btns .btn-red{
    margin: 0 25px 0 0;
    border: 1px solid #e65f78;
}
.clear-fix{
    content: '';
    display: table;
    clear: both  ;
}
/* about section area end  */
/* services section area start  */
.text-center{
    text-align: center;
}
.section-subtitle{
    margin: 30px 100px;
    color: #888;
}
.white-smoke-color{
    background-color: #f7f7f7; 
}
#services .services-heading .section-title{
    font-size: 36px;
}
#services .services-wrapper{
    margin: 40px 0 0 0;
}
#services .services-item{
    float: left;
    width: calc(100% / 3 - 20px);
    padding: 40px 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 25px rgb(24 24 24 / 10%);
    transition: 0.3s;
}
#services .services-item .item-title{
    margin: 20px 0;
    font-size: 23px;
    font-weight: 500;
}
#services .services-item .item-desc{
    color: #888;
    padding: 0 25px;
}
#services .services-item .icon{
    font-size: 50px;
    color: #e65f78;
}
#services .services-item:hover {
    background-color: #1f1f1f;
}
#services .services-item:hover .icon,
#services .services-item:hover .item-title,
#services .services-item:hover .item-desc{
    color: #fff;
} 
.section-cover{
    background-color: #1f1f1f;
}
#hire-me .section-heading{
    padding: 80px 0;
}
#hire-me .section-title{
    color: #fff;
}
#hire-me .section-heading .section-subtitle{
    color: #fff;
    margin: 30px 0;
}
#portfolio .section-heading .section-subtitle{
    margin: 30px 0;
}
#portfolio .portfolio-content .portfolio-filter li{
    padding: 8px 18px;
    border: 1px solid #1f1f1f;
    cursor: pointer;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 500;
}
#portfolio .portfolio-content .portfolio-filter li.active{
    color: #e65f78;
    border: 1px solid #e65f78;
}
#portfolio .portfolio-content .portfolio-items{
    margin: 30px 0 0 0;
}
#portfolio .portfolio-content .portfolio-items .item{
    position: relative;
    display: block;
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 0 10px 20px 10px;
}
#portfolio .portfolio-content .portfolio-items .item img{
    display: block;
    max-width: 100%;
}
#portfolio .portfolio-content .portfolio-items .item:before{
    content: '';
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(351deg 72% 65% / 63%);
    z-index: 1;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
#portfolio .portfolio-content .portfolio-items .item-data{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    transition: all 0.4s ease-in-out;
    z-index: 2;
    opacity: 0;
}
#portfolio .portfolio-content .portfolio-items .item-data .title{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
#portfolio .portfolio-content .portfolio-items .item-data .subtitle{
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
#portfolio .portfolio-content .portfolio-items .item:hover:before{
    opacity: 1;
}
#portfolio .portfolio-content .portfolio-items .item:hover .item-data{
    top: 50%;
    opacity: 1 ;
}
/* services section area end  */
/* testimonial section area start  */
#testimonials .section-heading{
    padding: 80px 0 0 0;
    color: #fff;
}
#testimonials .testimonials-content{
    padding: 50px 0 30px 0;
}
#testimonials .testimonials-content .icon{
    font-size: 44px;
    color: #e65f78;
}
#testimonials .testimonials-content .testimonial-desc{
    /* margin: 20px 0;  */
    width: 60%;
    margin: 40px auto;
    color: #fff;
}
#testimonials .testimonials-content .testimonial-pic{
    width: 6%;
    margin: 0 auto 30px auto;
}
#testimonials .testimonials-content .testimonial-pic img{
    display: block;
    max-width: 100%;
    border: 2px solid #999;
    border-radius: 50%;
}
#testimonials .testimonials-content .testimonial-profile span{
    display: block;
    color: #fff;
    margin-bottom: 10px;
    text-transform: capitalize;
}
#testimonials .testimonials-content .testimonial-profile span.name{
    font-weight: 700;
}
/* testimonial section area end  */
/* blog section area start  */
#blog .blog-wrapper .blog{
    width: calc(100% / 3 - 20px);
    margin: 0 10px 20px 10px;
}
#blog .blog-wrapper .blog .blog-img img{
    display: block;
    max-width: 100%;
}
#blog .blog-wrapper .blog .blog-content{
    margin-top: 20px;
}
#blog .blog-wrapper .blog .blog-content .title{
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}
#blog .blog-wrapper .blog .blog-content .desc{
    margin-bottom: 20px;
    color: #888;
}
/* blog section area end  */
/* contact section area start  */
#contact .contact-content .message,
#contact .contact-content .contact-info{
    width: calc(100% / 2 - 20px);
}
#contact .contact-content .message{
    margin: 0 40px 40px 0;
}
#contact .contact-content .title{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
#contact .contact-content form input{
    width: 100%;
    bottom: 3px;
}
input, textarea{
    border: none; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 15px 20px;
}
#contact .contact-content form .input-name,
#contact .contact-content form .input-mail{
    width: calc(100% / 2 - 10px);
    margin: 0 0 20px 0;
}
#contact .contact-content form .input-name{
    margin-right: 20px;
}
#contact .contact-content form .input-textarea{
    margin: 20px 0 30px 0;
    width: 100%;
}
#contact .contact-content form .input-textarea textarea{
    width: 100%;
    height: 150%;
    min-height: 150px;
    max-height: 150px;
}
#contact .contact-content form [type="submit"]{
    cursor: pointer;
    width: 150px; 
    border: 1px solid #e65f78;
}
#contact .contact-content ul.contact-detail{
    margin: 20px 0;
}
#contact .contact-content ul.contact-detail li{
    display: block;
    margin: 20px 0;
}
#contact .contact-content ul.contact-detail .contact-icon{
    margin: 0 20px 0 0; 
    width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
    position: relative;
}
#contact .contact-content ul.contact-detail .contact-icon i{
    font-size: 32px;
    margin-top: 14px;
    color: #e65f78;
}
#contact .contact-content ul.contact-detail .contact-text{
    width: 300px;
    padding: 10px 0;
}
/* contact section area end  */
/* footer area start  */
#footer{
    background-color: #222;
    position: relative;
}
#footer .footer-bottom{
    margin: 20px 0 0 0;
    border-top: 4px solid #292929;
    padding: 30px 0;
}
#footer .footer-bottom .copyright{
    color: #fff;
    text-transform: capitalize;
    font-size: 17px;
    margin: 10px 0 20px 0;
    line-height: 26px;
}
#footer .footer-bottom .copyright i{
    color: #e65f78;
}
/* footer area end  */